<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.distribution.common.mapper.VfStockMapper">

    <resultMap id="BaseResultMap" type="com.distribution.common.Pojo.vfStock">
            <id property="stockid" column="StockID" jdbcType="VARCHAR"/>
            <result property="goodsid" column="GoodsID" jdbcType="VARCHAR"/>
            <result property="stockcount" column="StockCount" jdbcType="INTEGER"/>
            <result property="createtime" column="CreateTime" jdbcType="TIMESTAMP"/>
            <result property="updatetime" column="UpdateTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        StockID,GoodsID,StockCount,
        CreateTime,UpdateTime
    </sql>
</mapper>
